<footer>
  <div class="bio-container">
    <h5>{{ site.title }}</h5>
    <p><strong>{{ site.author.name }}</strong> &middot; {{ site.author.bio }}</p>
  </div>
  <ul class="social-links">
    {% if site.author.github %}
      <li>
        <a href="{{ site.author.github }}">
          <img src="{{ site.base_image_dir }}github-icon.svg" />
        </a>
      </li>
    {% endif %}
    {% if site.author.deviant_art %}
      <li>
        <a href="{{ site.author.deviant_art }}">
          <img src="{{ site.base_image_dir }}da-icon.svg" />
        </a>
      </li>
    {% endif %}
    {% if site.author.facebook %}
      <li>
        <a href="{{ site.author.facebook }}">
          <img src="{{ site.base_image_dir }}fb-icon.svg" />
        </a>
      </li>
    {% endif %}
    {% if site.author.instagram %}
      <li>
        <a href="{{ site.author.instagram }}">
          <img src="{{ site.base_image_dir }}instagram-icon.svg" />
        </a>
      </li>
    {% endif %}
    {% if site.author.twitter %}
      <li>
        <a href="{{ site.author.twitter }}">
          <img src="{{ site.base_image_dir }}twitter-icon.svg" />
        </a>
      </li>
    {% endif %}
    {% if site.author.youtube %}
      <li>
        <a href="{{ site.author.youtube }}">
          <img src="{{ site.base_image_dir }}youtube-icon.svg" />
        </a>
      </li>
    {% endif %}
  </ul>
</footer>
