<header>
  <nav>
    <ul>
      {% unless page.is_home %}
        <li class="nav-home-button">
          <a href="{{ site.url }}">
            <img src={{ site.brand_image | relative_url }} />
          </a>
        </li>
      {% endunless %}
      <li>
        <a href="{{ site.pages.last.url | relative_url }}">Latest</a>
      </li>
      <li>
        <a href="{{ site.pages.first.url | relative_url }}">First</a>
      </li>
      <li>
        <a href="{{ "pages" | relative_url }}">All</a>
      </li>
      <li>
        <a href="{{ "gallery" | relative_url }}">Gallery</a>
      </li>
    </ul>
  </nav>
</header>
