<header>
  <nav>
    <ul>
      {% unless page.is_home %}
        <li class="nav-home-button">
          <a href="{{ "/" | relative_url }}">
            <img src={{ site.brand_image | relative_url }} />
          </a>
        </li>
      {% endunless %}
      <li>
        {% assign last_page = (site.pages | sort: 'page_number' | last) %}
        {% if page.url == last_page.url %}
          <a href="{{ last_page.url | relative_url }}" class="active">Latest</a>
        {% else %}
          <a href="{{ last_page.url | relative_url }}">Latest</a>
        {% endif %}
      </li>
      <li>
        {% assign first_page = (site.pages | sort: 'page_number' | first) %}
        {% if page.url == first_page.url %}
          <a href="{{ first_page.url | relative_url }}" class="active">First</a>
        {% else %}
          <a href="{{ first_page.url | relative_url }}">First</a>
        {% endif %}
      </li>
      <li>
        {% if page.url == "/pages/index.html" %}
          <a href="{{ "pages" | relative_url }}" class="active">All</a>
        {% else %}
          <a href="{{ "pages" | relative_url }}">All</a>
        {% endif %}
      </li>
      <li>
        {% if page.url == "/artworks/index.html" %}
          <a href="{{ "artworks" | relative_url }}" class="active">Gallery</a>
        {% else %}
          <a href="{{ "artworks" | relative_url }}">Gallery</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>
