<header>
  {% if page.is_home %}
    <a href="{{ site.baseurl }}">
      <img src={{ site.brand_image }} />
    </a>
  {% endif %}
  <nav>
    <ul>
      <li>
        <a href="{{ site.baseurl}}{{ site.pages.last.url}}">Latest</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}{{ site.pages.first.url }}">First</a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/pages">All</a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/gallery">Gallery</a>
      </li>
    </ul>
  </nav>
</header>
