---
# Only the main css needs frontmatter for jekyll to recongnize it
# Other files are only imported into main (there will be an error if Jekyll detects them as separate files)
---

@import "quiet_comic";

// Home page image
.Home-img {
  background-image: url(../{{ site.main_image}});
}

@media (max-width: $break-md) {
  .Home-img {
    background-image: url(../{{ site.mobile_main_image | default: site.main_image }});
  }
}
