// reset basic elements
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr, dl, dd, dt,
ul, ol, li, figure, table, thead, tbody,
tfoot, tr, td, th, article, header, footer, nav {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;

  color: $text-color;
  background-color: $background-color;

  // Sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h6 {
  font-size: $base-font-size * 1.125;
  margin: $base-font-size * 1.825 0;
}

h5 {
  font-size: $base-font-size * 1.25;
  margin: $base-font-size * 1.75 0;
}

h4 {
  font-size: $base-font-size * 1.5;
  margin: $base-font-size * 1.5 0;
}

h3 {
  font-size: $base-font-size * 1.625;
  margin: $base-font-size * 1.357 0;
}

h2 {
  font-size: $base-font-size * 1.8;
  margin: $base-font-size * 1.2  0;
}

h1 {
  font-size: $base-font-size * 1.925;
  margin: $base-font-size * 1.075  0;
}

p, blockquote, pre, ul, ol, dl, figure {
  margin: $base-font-size 0;
}

a {
  @include border-slide-bottom($text-color, 0.15em);
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 10%);
  }

  &:hover {
    color: $text-color;
  }
}

// code blocks
pre,
code {
  font-size: $base-font-size * 0.9375;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
