.Home-img {
  min-height: 100vh;
  // temporary color
  background-color: hsla(31, 15%, 50%, 0.1);
  margin-top: -$min-header-height;
}

header {
  list-style: none;
  position: relative;
  z-index: 1;

  ul {
    margin: 0 1rem;
    min-height: $min-header-height;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    display: inline-block;
    padding: 0.5rem;
  }

  .nav-home {
    margin-right: auto;
  }
}

.pages-layout {

  &.Container--fluid {
    width: 100%;
    padding: 1rem;
  }
}
