// header
header {
  list-style: none;
  position: relative;
  z-index: 1;

  ul {
    margin: 0 1rem;
    min-height: $min-header-height;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    display: inline-block;
    padding: 0.5rem;
  }

  .nav-home-button {
    margin-right: auto;

    a:after {
      content: none;
    }

    a {
      transition: opacity 0.4s ease-in-out;
    }

    a:hover {
      opacity: 0.5;
    }
  }
}


// home page
.Home-img {
  min-height: 100vh;
  // temporary color
  background-color: hsla(31, 15%, 50%, 0.1);
  margin-top: -$min-header-height;
}

// pages and gallery
.pages-layout {

  .Grid-cell {
    display: flex;
    align-items: stretch;
  }

}

.thumbnail-link {
  @include overlay-on-hover($brand-color);

  flex: 1;
  text-align: center;
  background-size: cover;

  &:hover {

    .thumbnail-title {
      opacity: 1;
    }
  }
}

.thumbnail-title {
  z-index: 1;
  color: #fff;
  padding: 0.5em;
  opacity: 0;
  filter: brightness(100%);
  transition: opacity 0.4s ease-in-out;
}

// page and artwork
.page-header {
  display: flex;
  align-items: stretch;
}

.next-prev-link-container,
.size-buttons-container {
  font-size: 0.5em;
  align-self: center;

  a {
    margin: 0 0.3em;
  }
}

.size-buttons-container {
  margin-left: auto;
  margin-right: 2em;
}

#width-50 {
  flex: 0 0 50%;
  display: none;

  &:target {
    display: block;

    & ~ #width-100 {
      display: none;
    }
  }
}

#width-75 {
  flex: 0 0 75%;
  display: none;

  &:target {
    display: block;

    & ~ #width-100 {
      display: none;
    }
  }
}

#width-100 {
  flex: 0 0 100%;

  &:target {
    display: block;
  }
}
