---
layout: default
---

<div class="gallery-layout Container--fluid">
  <div class="
    Grid
    Grid--gutters
    Grid--1of1
    sm-Grid--1of2
    md-Grid--1of4
    lg-Grid--1of6">
    {% assign artworks = site.artworks| sort: 'date' %}
    {% for artwork in artworks %}
        <div class="Grid-cell">
          <a href="{{ artwork.url | relative_url }}" class="thumbnail-link" style="background-image: url('{{ site.artworks_image_dir | relative_url }}thumbnails/{{ artwork.image }}');" >
            <h6 class="thumbnail-title">
              {{ artwork.title }}
            </h6>
          </a>
        </div>
    {% endfor %}
  </div>

  {% include comments.html %}
</div>
