---
layout: default
---

<div class="Container--fixed">
  <div class="Grid Grid--1of1">
    <h3 class="Grid-cell page-header">
      {{ page.page_number }} - {{ page.title }}
      <small class="header-date">
        {{ page.date | date: '%B %d %Y' }}
      </small>

      <small class="size-buttons-container">
        Zoom -
        <a href="#width-100">100%</a> &middot;
        <a href="#width-75">75%</a> &middot;
        <a href="#width-50">50%</a>
      </small>
      <small class="pager-container">
        <ul class="pager">
          {% if page.previous %}
            <li class="pager-previous">
              <a href="{{ page.previous.url | relative_url}}">< Prev</a>
            </li>
          {% endif %}
          {% if page.next %}
            <li class="pager-next">
              <a href="{{ page.next.url | relative_url}}">Next ></a>
            </li>
          {% endif %}
        </ul>
      </small>
    </h3>

    <img id="width-50" src="{{ site.base_image_dir | relative_url }}pages/{{ page.image }}" alt="{{ page.title }}" class="Grid-cell main-image">

    <img id="width-75" src="{{ site.base_image_dir | relative_url }}pages/{{ page.image }}" alt="{{ page.title }}" class="Grid-cell main-image">

    <img id="width-100" src="{{ site.base_image_dir | relative_url }}pages/{{ page.image }}" alt="{{ page.title }}" class="Grid-cell main-image">
  </div>

  {{ content }}

  {% include comments.html %}

</div>
