---
layout: default
---

<div class="pages-layout Container--fluid">
  <div class="
    Grid
    Grid--gutters
    Grid--1of1
    sm-Grid--1of2
    md-Grid--1of4
    lg-Grid--1of6">
    {% assign pages = site.pages | sort: 'page_number' %}
    {% for page in pages %}
      {% unless page.ignore %}
        <div class="Grid-cell">
          <a href="{{ page.url | relative_url }}" class="thumbnail-link" style="background-image: url('{{ site.pages_image_dir | relative_url }}thumbnails/{{ page.image }}');" >
            <h6 class="thumbnail-title">
              {% case site.thumbnail_label %}
              {% when "title" %}
                {{ page.title }}
              {% when "page_number" %}
                {{ page.page_number }}
              {% endcase %}
            </h6>
          </a>
        </div>
        {% endunless %}
    {% endfor %}
  </div>

  {% include comments.html %}
</div>
